<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imagemanageapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.InitTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadingActivity"
            android:theme="@style/AppTheme.InitTheme"/>
        <activity android:name=".OpenCV"/>
       <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".SearchImageActivity"
            android:parentActivityName=".SearchActivity"
            android:theme="@style/AppTheme.SearchTheme"/>
        <activity android:name=".SearchSingleImageActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.image.PopupActivity"
            android:theme="@style/Theme.MyDialog"/>
        <activity android:name=".ui.recommend.RecommendActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>